<footer class="footer">
    <div class="container">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="text-muted">&copy; 2020 - Carlos Col&oacute;n</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="text-muted"><a href="{{ "/privacy.html" | absolute_url }}">Privacy policy</a></span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="text-muted">Social media:&nbsp;&nbsp;
            <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/{{site.twitter_username}}"><i class="fa fa-twitter" aria-hidden="true"></i> {{site.twitter_username }}</a>
            &nbsp;&nbsp;
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/{{site.github_username}}"><i class="fa fa-github" aria-hidden="true"></i> {{site.github_username }}</a>
        </span>
    </div>
</footer>