        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta charset="utf-8">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600|Special+Elite" rel="stylesheet" />
        <link href="{{ 'css/bootstrap.min.css' | absolute_url }}" rel="stylesheet">
        <link href="{{ 'css/font-awesome.min.css' | absolute_url }}" rel="stylesheet">
        <link href="{{ 'css/site.css' | absolute_url }}" rel="stylesheet">
        {% if page.type == 'article' %}
        <!-- Facebook -->
        <meta property="fb:app_id" content="157840897615111" />
        <meta property="og:url" content="{{ page.url | absolute_url }}" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="{{ page.title }}" />
        <meta property="og:description" content="{{ page.short }}" />
        {% if page.image %}
        <meta property="og:image" content="{{ post.image | absolute_url }}" />
        {% else %}
        {% assign genericImage = 'images/development.jpg' %}
        <meta property="og:image" content="{{ genericImage | absolute_url }}" />
        {% endif %}

        <!-- Twitter -->
        <meta name="twitter:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
        <meta name="twitter:description" content="{% if page.short %}{{ page.short }}{% else %}{{ site.description }}{% endif %}">
        <meta name="twitter:site" content="@cppmx" />
        <meta name="twitter:creator" content="@3d_carlos">
        <meta name="twitter:card" content="summary">
        {% endif %}
        <meta property="og:image:width" content="400" />
        <meta property="og:image:height" content="300" />
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175643395-1"></script>
        <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() { dataLayer.push(arguments); }
                gtag('js', new Date());

                gtag('config', 'UA-175643395-1');
        </script>