---
layout: 'default'
---
<h1 class="pb-3 mb-4 font-italic border-bottom">{{page.title}}</h1>
<h5>{{ page.description }}</h5>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% assign books = site.data.ads['books'] | where: "category", page.query | sort: 'category' %}
            {% for book in books %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    {% assign image_url = 'images/covers/' | append: book.id | append: '.jpg' %}
                    <img class="card-img-top img-fluid" src="{{ image_url | absolute_url }}" alt="{{ book.title }} cover">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary"
                                    href="{{ book.url | absolute_url }}" target="__blank" rel="nofollow">View more info</a>
                            </div>
                            <span class="social-sub">
                                <a href="https://www.facebook.com/sharer/sharer.php?u={{ book.url | absolute_url }}" target="__blank"><i
                                        class="fa fa-facebook" title="Facebook"></i></a>&nbsp;
                                {% assign hashtags = page.categories | join: "," %}
                                <a
                                    href="https://twitter.com/intent/tweet?text=I want to recommend this book: {{book.title}} via @cppmx&url={{ book.url | absolute_url }}&hashtags=cppmx,shareabook,{{book.tags}}" target="__blank"><i
                                        class="fa fa-twitter" aria-hidden="true" rel="noopener noreferrer"
                                        title="Twitter"></i></a>&nbsp;
                                <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ book.url | absolute_url }}&title=I found this book on the CPP MX blog and I want to recommend it to you.&summary={{book.title}}&source={{ book.url | absolute_url }}"
                                    target="__blank"><i class="fa fa-linkedin" title="LinkedIn"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>