<!DOCTYPE html>
<html>
    <head>
        <title>{{site.title}}</title>
        <meta name="copyright" content="2020">
        <meta name="authos" content="Carlos Colon">
        <meta name="description" content="{{ site.description }}">
        <meta name="keywords" content="{{ page.keywords }}">
        {% include head.html %}
    </head>
    <body>
        {% include main_navigation.html %}
        <div class="container">
            {% include header.html %}
            {{ content }}
        </div>
        {% include footer.html %}
    </body>
</html>