---
layout: 'default'
---
<h1 class="pb-3 mb-4 font-italic border-bottom">{{page.title}}</h1>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% assign filter = page.query %}
            {% assign sorted-posts = site.posts | where: "categories", filter | sort: "date" %}
            {% for post in sorted-posts %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        {% if post.image %}
                        <img class="card-img-top img-fluid" src="{{ post.image | absolute_url }}" alt="{{ post.title }} screenshot">
                        {% else %}
                        {% assign genericImage = 'images/' | append: filter | append: '.jpg' %}
                        <img class="card-img-top img-fluid" src="{{ genericImage | absolute_url }}" alt="{{ post.title }} screenshot">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text">{{ post.short }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ post.url | absolute_url }}">View</a>
                            </div>
                            <small class="text-muted">{{ post.date | date_to_long_string }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>