---
layout: 'default'
---
<div class="row">
    <div class="col-md-8 blog-post">
        <h2 class="blog-post-title">{{page.title}}</h2>
        <p class="blog-post-meta border-bottom">
            {{ page.date | date_to_string }} by <a href="http://bit.ly/ccolonr" target="__blank">{{page.author}}</a>
            <span class="social-sub">Share on:
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}" target="__blank"><i class="fa fa-facebook" title="Facebook"></i></a>&nbsp;
                <a href="https://twitter.com/intent/tweet?text={{page.short}}%0A%0A&url={{ page.url | absolute_url }}&hashtags={{hashtags}}"><i class="fa fa-twitter" aria-hidden="true" target="_blank" rel="noopener noreferrer" title="Twitter"></i></a>&nbsp;
                <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url }}&title={{page.title}}&summary={{page.short}}&source={{ page.url | absolute_url }}" target="__blank"><i class="fa fa-linkedin" title="LinkedIn"></i></a>
            </span>
        </p>
        <div class="content">
            {{ content }}
        </div>
        <div class="social top center networks-5 ">
            <!-- Facebook Share Button -->
            <a class="fbtn share facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}" target="__blank">
                <i class="fa fa-facebook"></i>
            </a>
            <!-- Twitter Share Button -->
            {% assign hashtags = page.categories | join: "," %}
            <a class="fbtn share twitter" href="https://twitter.com/intent/tweet?text={{page.short}}%0A%0A&url={{ page.url | absolute_url }}&hashtags={{hashtags}}">
                <i class="fa fa-twitter"></i>
            </a>
            <!-- LinkedIn Share Button -->
            <a class="fbtn share linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url }}&title={{page.title}}&summary={{page.short}}&source={{ page.url | absolute_url }}" target="__blank">
                <i class="fa fa-linkedin"></i>
            </a>
            </a>
        </div>
    </div>
    <aside class="col-md-4 blog-sidebar">
        <div class="card mb-4 box-shadow">
            {% assign adType = page.categories | first  %}
            {% assign ads = site.data.ads['books'] | where: "category", adType %}
            {% for ad in ads %}
                {% assign img = 'images/covers/' | append: ad.id | append: '.jpg' %}
                <img class="card-img-top img-fluid" src="{{ img | absolute_url }}" alt="{{ ad.title }} screenshot">
                <div class="card-body">
                    <h5 class="card-title">{{ ad.title }}</h5>
                    <p class="card-text">{{ ad.short }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ ad.url | absolute_url }}" rel="nofollow" target="_blank">More about this book</a>
                        </div>
                    </div>
                </div>
                <br>
            {% endfor %}
        </div>
    </aside>
</div>
{% assign share_js = 'js/share.js' %}
<script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ share_js | absolute_url }}"></script>